@media (max-width: 380px) {
    .header-content__title {
        font-size: 4rem;
    }

    .destinations__title {
        font-size: 2.4rem;
    }

    .newspaper__title {
        max-width: 16rem;
    }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .mobile-nav,
    .header-top__show-more {
        display: none;
    }

    .nav {
        display: flex;
    }

    .newspaper {
        flex-flow: row-reverse nowrap;
        justify-content: space-between;
    }

    .newspaper__shape {
        left: -20%;
        max-width: 70%;
    }

    .newspaper__info {
        text-align: left;
        width: 60%;
        padding-right: 2rem;
    }

    .newspaper__img {
        min-width: 25rem;
        max-width: 40%;
    }

    .newspaper__title {
        margin: 1.5rem 0;
    }

    .footer__btn {
        left: calc(100% - 5rem);
    }
}

@media (min-width: 992px) {
    .header-top__wrapper {
        gap: 4rem;
    }

    .nav__login-btns {
        display: flex;
    }

    .header-content__wrapper {
        max-width: 50rem;
    }

    .newspaper__info {
        padding-right: 4rem;
    }

    .newspaper__title {
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {
    .nav__links {
        gap: 3.5rem;
    }

    .newspaper__info {
        width: 60rem;
        flex: none;
    }

    .newspaper__img {
        max-width: 42rem;
    }

    .footer__nav {
        width: max-content;
    }

    .footer__caption {
        max-width: 42rem;
    }
}

@media (min-width: 1400px) {
    .newspaper {
        padding: 3rem 6rem;
    }

    .footer__caption {
        max-width: 60rem;
    }
}
